{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "last 2 versions, > 1%",
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false
      }
    ]
  ]
}
