// @import './layout.scss';
// @import './list.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
