/* file path: src/index.css */

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/tools/lesson6/task1/background.jpg');
}
